#chat-channel {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#chat-channel .chat-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#chat-channel .chat-msg {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}